{% extends "base/base_page.html" %}
{% block page_heading %}
<h1 class="h3 mb-2 text-gray-800">Charts</h1>
<p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme. The charts below have been customized - for further customization options, please visit the 
<a target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js documentation</a>.
</p>
{% endblock page_heading %}
{% block page_content %}
          <div class="row">

            <div class="col-xl-8 col-lg-7">

              <!-- Area Chart -->
              {% include "components/chart/chart_area_width.html" %}
              <!-- Bar Chart -->
              {% include "components/chart/chart_bar.html" %}
            
            </div>
            <!-- Donut Chart -->
            {% include "components/chart/chart_dount.html" %}

          </div>
{% endblock page_content %}
{% block js_page %}
{% load static%}
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
{% endblock js_page %}