{% extends "base/base_page.html" %}
{%block page_heading%}
{% include 'components/page_header.html' %}
{%endblock%}
{% block page_content %}
<!-- Content Row -->
<div class="row">

<!-- Earnings (Monthly) Card Example -->
{% include 'components/card/card_primary_text.html' %}
<!-- Earnings (Annual) Card Example -->
{% include 'components/card/card_success_text.html' %}
<!-- Earnings (Tasks) Card Example -->
{% include 'components/card/card_info_text.html' %}
<!-- Pending Requests Card Example -->
{% include 'components/card/card_warning_text.html' %}
</div>

<!-- Content Row -->
<div class="row">
<!-- Area Chart -->
{% include 'components/chart/chart_area.html'%}
<!-- Pie Chart -->
{% include 'components/chart/chart_pie.html'%}
</div>
<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        {% include 'components/card/card_group_process.html'%}
        <!-- Color System -->
        {% include 'components/card/card_color_sys.html'%}
    </div>
    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        {% include 'components/card/card_illustrations.html'%}
        <!-- Approach -->
        {% include 'components/card/card_approach.html'%}
    </div>
</div>
{% endblock %}
{% block js_page %}
{% load static%}
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock js_page %}  