<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  {% include 'components/import_header.html'%}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'components/Sidebar.html' %}
    <!-- End of Sidebar -->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'components/topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          {% include 'components/page_header.html' %}

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            {% include 'components/card/card_primary_text.html' %}
            <!-- Earnings (Annual) Card Example -->
            {% include 'components/card/card_success_text.html' %}
            <!-- Earnings (Tasks) Card Example -->
            {% include 'components/card/card_info_text.html' %}
            <!-- Pending Requests Card Example -->
            {% include 'components/card/card_warning_text.html' %}
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Area Chart -->
            {% include 'components/chart/chart_area.html'%}
            <!-- Pie Chart -->
            {% include 'components/chart/chart_pie.html'%}
          </div>
          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">
              <!-- Project Card Example -->
              {% include 'components/card/card_group_process.html'%}
              <!-- Color System -->
              {% include 'components/card/card_color_sys.html'%}
            </div>

            <div class="col-lg-6 mb-4">
              <!-- Illustrations -->
              {% include 'components/card/card_illustrations.html'%}
              <!-- Approach -->
              {% include 'components/card/card_approach.html'%}
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'components/Footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
{% include 'components/scroll_top_btn.html' %}
{% include 'modal/logout.html' %}
{% include 'components/import_footer.html' %}
</body>

</html>
